.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.about-collapse {        
    margin-bottom: 10px;
     overflow: hidden;
    width: 80%;
}