.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    margin-top: 80px;
    margin-bottom: 80px;
}
.error-content > img {
    width: 597px;
    height: 263px;
    margin-bottom: 80px;
}
.error-message {
    font-size: 36px;
    color: #ff6060;
    margin-bottom: 80px;
}

.error-link {
    font-size: 18px;
    color: black;
    margin-bottom: 80px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .error-content {
        margin-left: 20px;
        margin-right: 20px;
    }
    .error-content > img {
        width: 198px;
        height: 99px;
    }
    .error-message {
        font-size: 18px;
        text-align: center;
    }
    .error-link {
        font-size: 14px;
    }
}

