.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
  }
  
  .logo img {
    width: 210px;
    height: 68px;
  }
  
  .nav-links a {
    margin-left: 57px;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat';
  }
  
  .nav-links a.active {
    border-bottom: 2px solid black;
  }