.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .logo img {
    width: 210px;
    height: 68px;
  }
  
  .nav-links a {
    margin-left: 57px;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat';
  }
  
  .nav-links a.active {
    border-bottom: 2px solid black;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    .header {
      margin-left: 20px;
      margin-right: 20px;
    }
    .logo > img {
      width: 130px;
      height: 41px;
    }
    .nav-links > a {
      font-size: 12px;
      margin-left: 10px;
    }
  }
