.homepage-content {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.darken {
    filter: brightness(40%);
}
@media (min-width: 320px) and (max-width: 768px) {
    .homepage-content {
        margin-right: 20px;
        margin-left: 20px;
    }
}